@import "../node_modules/bootstrap/dist/css/bootstrap";
$font-stack:    Helvetica, sans-serif;
$primary-color: #f0f;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#myCanvas {
  background-color: grey;
  border: 2px solid black;
}